.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
}

div {
  border: 1px solid black;
}

.logo {
  display: flex;
  align-items: center;
  width: 155px;
}

#mytim {
  align-items: center;
  position: relative;
  left: 10px;
  color: MediumAquamarine;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

nav {
  display: flex;
  width: 350px;
  justify-content: space-around;
  align-items: center;
}

a {
  color: black;
}

.main-content {
  display: flex;
  justify-content: space-around;
}

.large-column.medium-column.small-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.large-column {
  width: 630px;
}

.medium-column {
  width: 300px;
}

.small-column {
  width: 240px;
}

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

h1 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
}

.img-header {
  color: white;
}

#main-story {
  font-size: 40px;
  background-image: url(../images/main-story.png);
  width: 629px;
  height: 300px;
}

#earth {
  display: flex;
  background-image: url(../images/tree.png);
  width: 299px;
  height: 300px;
}

h1#earth {
  justify-content: center;
}

#cameras {
  background-image: url(../images/camera.png);
  width: 299px;
  height: 300px;
}

#cats {
  background-image: url(../images/cat.png);
  width: 299px;
  height: 300px;
}

.orca {
  width: 299px;
  height: 300px;
}

.burger {
  width: 299px;
  height: 300px;
}
