/*div borders*/
div {
  border: 1px solid black;
}

/*header section*/
.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  width: 155px;
}

#mytim {
  align-items: center;
  position: relative;
  left: 10px;
  color: MediumAquamarine;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

nav {
  display: flex;
  width: 350px;
  justify-content: space-around;
  align-items: center;
}

a {
  color: black;
}

/*main content*/
.main-content {
  display: flex;
  justify-content: space-between;
}

.img-headline {
  color: white;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
}

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

/*left-column*/
.left-column {
  display: flex;
  flex-wrap: wrap;
  width: 630px;
}

.tuna-headline {
  justify-content: center;
  align-items: center;
  background-image: url(../images/main-story.png);
  width: 629px;
  height: 300px;
}

#tuna {
  font-size: 40px;
}

.earth {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/tree.png);
  width: 299px;
  height: 300px;
}

.research {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/camera.png);
  width: 299px;
  height: 300px;
}

/*mid-column*/
.mid-column {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.cats {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/cat.png);
  width: 299px;
  height: 300px;
}

/*right-column*/
.right-column {
  display: flex;
  flex-direction: column;
  width: 240px;
}
