/*div borders*/
div {
  /*border: 1px solid black;*/
}

/*header section*/
.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  width: 155px;
}

#mytim {
  align-items: center;
  position: relative;
  left: 10px;
  color: MediumAquamarine;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

nav {
  display: flex;
  width: 350px;
  justify-content: space-around;
  align-items: center;
}

a {
  color: black;
}

/*main content*/
.main-content {
  display: flex;
  justify-content: space-between;
}

.img-headline {
  color: white;
  font-family: Georgia;
  font-weight: bold;
}

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

/*left-column*/
.left-column {
  display: flex;
  flex-wrap: wrap;
  width: 630px;
}

.tuna-headline {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/main-story.png);
  width: 629px;
  height: 300px;
}

#tuna {
  font-size: 40px;
}

.oebr {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.orca {
  width: 300px;
  height: 300px
  order: 1;
}

.burger {
  width: 300px;
  height: 300px;
  order: 2;
}

.earth {
  display: flex;
  text-align: center;
  align-items: center;
  background-image: url(../images/tree.png);
  width: 300px;
  height: 300px;
  order: 4;
}

.research {
  display: flex;
  text-align: center;
  align-items: center;
  background-image: url(../images/camera.png);
  width: 300px;
  height: 300px;
  order: 3;
}

/*mid-column*/
.mid-column {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.cats-headline {
  display: flex;
  text-align: center;
  align-items: center;
  background-image: url(../images/cat.png);
  width: 299px;
  height: 300px;
}

/*right-column*/
.right-column {
  display: flex;
  flex-direction: column;
  width: 240px;
}

#bites {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.bites-list {
  display: flex;
  flex-direction: column;
  line-height: 3em;
  border-bottom: 1px solid black;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  padding-left: 20px;
}
